

mat-sidenav-container{
    position: relative;
    
    mat-sidenav{        
        height: 100vh;
             
        background-color: #0046FE;
        border: none;
        width: 200px;
        display: flex;
        justify-content: center;       
        
        .title{
            height: 50px;
            margin: 0;
            margin-bottom: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .nav-link{
            list-style: none;
            padding-left: 10px;
            li{
                position: relative;
                padding-left:20px ;
                height: 50px;
                display: flex;
                align-items: center;
                border-top-left-radius: 10px;              
                border-bottom-left-radius: 10px;
          
              a{
                  text-decoration: none;
                  color: white;
                  font-size: 20px;
                  display: flex;
                  align-items: center;

                  mat-icon{
                    margin-right: 10px;
                  }
                 
                  
              }
              
             
            }
            li:hover{    
                background-color: #fafafa;
                
                a{                 
                    color: black;                 
                 }
            }
           
            li:hover::before{
                content: "";
                position: absolute;
                height: 30px;
                width: 30px;
                background-color:#0046FE;
                bottom: 100%;
                right: 0;
                border-bottom-right-radius: 13px;
                box-shadow: 0 17px 0  #fafafa;
                z-index: -10;
                
            }
            li:hover::after{
                content: "";
                position: absolute;
                height: 30px;
                width: 30px;
              background-color: #0046FE;
                top: 100%;
                right: 0;
                border-top-right-radius: 13px;
                box-shadow: 0 -17px 0 #fafafa;
                z-index: -10;
            }
        }
    }
    mat-sidenav-content{
       
        mat-toolbar {
            display: flex;           
            justify-content: space-between;
            background-color: #ffffff;   
            position: fixed;   
            z-index: inherit;     
        }
        .router{           
            // padding-top: 100px;              
            scroll-behavior: smooth; 
            height: 100%; 
           
        }
       
    }
}

