
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav [mode]="estado" closed 
      [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
      [fixedBottomGap]="options.value.bottom">
      <span></span>
                   <h1 class="title">HMS</h1>
                   <ul class="nav-link">
                    <li>                      
                      <a routerLink="dashboard">
                        <mat-icon>dashboard</mat-icon>
                        Dashboard
                      </a>
                    </li>
                    <li>
                      <a routerLink="reservation"><mat-icon>calendar_today</mat-icon>Reservation</a>
                    </li>
                    <li>
                      <a routerLink="reservation"><mat-icon>room_service</mat-icon>Reception</a>
                    </li>
                   </ul>
       <a href="#" class="logo">
        <!-- <img src="./../../../assets/images/logo.png" alt=""> -->
        
       </a>
      </mat-sidenav>
  
      <mat-sidenav-content [formGroup]="options"> 
        <mat-toolbar class="mat-elevation-z8 ">
            <div class="menu"  style="display:flex ; align-items:center;">
              <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu"
            matTooltipPosition="above">
              <mat-icon>menu</mat-icon>                          
            </button>
            <h2>{{title}}</h2>
            </div>
           <div >
            <button mat-icon-button [matMenuTriggerFor]="menu"  matTooltip="Perfil"
            matTooltipPosition="before">
              <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>power_off</mat-icon>
                <span>Disconect</span>
              </button>
            </mat-menu>
           </div>
          </mat-toolbar>  
          <div class="router" >
            <router-outlet></router-outlet>
          </div>     

    </mat-sidenav-content>
    </mat-sidenav-container>
    
    