

.container {  
  margin-left: 20px;  
  margin-right: 20px;  
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 100px;
}
.responsive-table{
  padding: 0px;
  
}


h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
small {
  font-size: 0.5em;
}
.maintenance{
  display: flex;
  justify-content: space-between;
  align-items: center;
  

  button{
    background: rgb(119,33,232);
    background: linear-gradient(56deg, rgba(119,33,232,1) 0%, rgba(59,5,130,1) 58%);
    
  }
  .search{
    width: 75%;
  }
}
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    
    background: rgb(119,33,232);
    background: linear-gradient(56deg, rgba(119,33,232,1) 0%, rgba(59,5,130,1) 58%);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: bold;   
    height: 1px; 
    display: flex;
    align-items: center;
    color: #fafafa;
  }

 
  .table-rows {
  border-radius: 5px;
  display: flex;
  align-items: center;
  max-height: 1px;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  background-color: rgb(255, 252, 252);
  }
  .notDataFound {
      width: 100%;
      font-weight: bold;
    }

  .table-rows:hover{
    background:rgb(119,33,232);
    color: white;
    scale: 1.01;
    box-shadow: 0px 0px 9px rgba(37, 36, 36, 0.4);
  }
  
  .table-rows span{ 
    font-size: 16px;  
    font-weight: bold;
    padding: 2px;  
    border-radius: 5px;    
    color:#F44336;
    text-shadow:  0 0 3px rgb(253, 253, 253)

  }
  .edit{
    width: 30px; 
    height:30px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-right: 10px;
   color: #fafafa;
  }
  .table-header .col-1 ,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8{
    text-align: center;
  }
  .col-1 {
    flex-basis: 10%;
   
  }
  .col-2 {
   
    flex-basis: 20%;
  }
  .col-3 {
   
    flex-basis: 10%;
  }
  .col-4 {
   
    flex-basis: 13%;
  }
  .col-5 {
 
    flex-basis: 13%;
  }
  .col-6 {
    flex-basis: 13%;
  
  }
  .col-7 {

    flex-basis: 13%;
  }
  .col-8 {

    flex-basis: 13%;
  }
  .pagination{
    display: flex;
    justify-content:flex-end;
    mat-icon{
      font-size: 32px;
    }
  }
  @media all and (max-width: 900px) {
    .table-rows:hover{
      background-color: transparent;
      color:black;
      }
  }
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-rows{
      flex-direction: column;
     justify-content: center;
     align-items: center;
     min-height: 350px;

     &:hover{
      background-color: transparent;
      color:black;
      }
    }
    
    .search{
      width: 100%;
    }
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 10px 0;     
    }
   
    .col:before {    
      color: #616569;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
      width: 200px;
    }
    .col:hover{
      background-color: transparent;
      color:black;
    }
    @media all and (max-width: 560px) {
      .maintenance{
        button{
          display: none;
        }
      }
    }

  }
 

  