
<div class="container" >  
   
  <div class="maintenance">
    <mat-form-field appearance="outline" class="search" >
        <mat-label >Search</mat-label>
        <input #search type="search" matInput (keyup)="applyFilter(search.value)" autocomplete="off">
        <mat-icon matSuffix >search</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary" [routerLink]="['/addReservation']" >New <mat-icon>add</mat-icon></button>
    
  </div>
    <ul class="responsive-table">
      <li class="table-header " color="primary">
        <div class="col col-1" >Reservation Code</div>
        <div class="col col-2">Customer Name</div>
        <div class="col col-3">Pax</div>
        <div class="col col-4">Room Category</div>
        <div class="col col-5">CheckIn Date</div>
        <div class="col col-6">CheckOut Date</div>
        <div class="col col-7">Payment Status</div>
        <div class="col col-8">Action</div>     
      </li>
      <div class="data">        
        <li class="table-rows mat-elevation-z3" *ngFor="let element of auxData | filtro:page:myFilter ">
          <div class="col col-1" data-label="Reservation Code">{{element.reservationCode}}</div>
          <div class="col col-2"  data-label="Customer Name">{{element.fullName}}</div>
          <div class="col col-3" data-label="Pax">{{element.pax }}</div>
          <div class="col col-4" data-label="Room Category">{{element.categoryRoom}}</div>
          <div class="col col-5" data-label="CheckIn Date">{{element.checkInDate}}</div>
          <div class="col col-6" data-label="CheckOut Date">{{element.checkOutDate}}</div>       
          <div class="col col-7" color="warn" data-label="Payment Status"><span>{{element.statusValue}}</span></div>
          <div class="col col-8" data-label="Action" >
          <div class="btn-container" style=" display: flex; justify-content: center; align-items: center;">
            <button mat-mini-fab  class="edit" style=" background-color: #c1c4c5; border-radius: 5px;" [swal]="['Oops!', 'This is not implemented yet :/', 'warning']">
              <mat-icon>edit</mat-icon>
            </button>           
          </div>
        </div>
      </li>
      <ng-container *ngIf="(auxData | filtro:page:myFilter).length === 0">        
        <li class="table-rows mat-elevation-z8 ">
          <div class="col col-8" data-label="notDataFound" class="notDataFound" >Not Data Found | Not More Data</div>
        </li>
      </ng-container>
    </div>    
    </ul>
    <div class="pagination">
      <button mat-icon-button matTooltip="Preview" matTooltipPosition="below" (click)="prevPage()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button #nextButton mat-icon-button matTooltip="Next" matTooltipPosition="below" (click)="nextPage()" [disabled]="(auxData | filtro:page:myFilter).length === 0">
        <mat-icon>keyboard_arrow_right</mat-icon>   
      </button>
      
    </div>
   
  </div>