.wrapper{
    width:100%;    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
   
   
    .card-container{   
        width: 90%;             
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));     
        grid-gap:10px;       
        margin-top: 100px;     
        mat-card{
           height: 70px;
          
           display: flex;
           flex-direction: column;
           justify-content: space-between;
            p{
                
                font-size: 24px;
            }
        }
        .todos{
            color: #6b0fe3;
            .card-border{
                background: rgb(119,33,232);
                background: linear-gradient(56deg, rgba(119,33,232,1) 0%, rgba(59,5,130,1) 58%);
                height: 3rem;
            }
        }
        .disponible{
            color: #87e30f;
            .card-border{
                background: rgb(135,227,15);
                background: linear-gradient(56deg, rgba(135,227,15,1) 0%, rgba(81,138,7,1) 58%);
                height: 3rem;
            }
        }
        .ocupada{
            color: #e30f1d;
            .card-border{
                background: rgb(227,15,29);
                background: linear-gradient(56deg, rgba(227,15,29,1) 0%, rgba(139,3,12,1) 50%);
                height: 3rem;
            }
        }
        .limpieza{
            color: #0fe3d5;
            .card-border{
                background: rgb(15,227,213);
                background: linear-gradient(56deg, rgba(15,227,213,1) 0%, rgba(2,121,113,1) 50%);
                height: 3rem;
            }
        }
    }
    h1{
              
        margin: 0;
    }
    .card{
        border-radius: 10px;        
        overflow: hidden;
        position: relative;
        height: 200px;
        .card-content{
            margin-top: 30px;
            padding: 20px;
           
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            span{
                font-size: 1.5rem;
                font-weight: bold;
            }
            p{
                margin-top: 20px;
                font-size: 24px;

            }
        }
        .card-img{
            width: 70px;
            height: 70px;
            border-radius: 50%;            
            background-color: #fafafa;
            position: absolute;
            top: 20px;
            left: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 80%;
                height: 80%;
            }
        }
       
    }
}