<div class="wrapper">
    <div class="card-container">
        <mat-card class="mat-elevation-z8">
         <mat-card-title>Total Habitaciones</mat-card-title>
          <mat-card-content>
            <p>17</p>         
          </mat-card-content> 
        </mat-card>
        <mat-card class="mat-elevation-z8 disponible">      
          <mat-card-title >Habitaciones Disponibles</mat-card-title>
          <mat-card-content>
             <p>17</p>         
          </mat-card-content>  
          
            
          </mat-card>
          <mat-card class="mat-elevation-z8 ocupada">
          
            <mat-card-title >Habitaciones Ocupadas</mat-card-title>
            <mat-card-content>
              <p>0</p>       
            </mat-card-content>  
          
            
          </mat-card>
          <mat-card class="mat-elevation-z8 limpieza">
          
            <mat-card-title >Habitaciones en Limpieza</mat-card-title>
            <mat-card-content>
              <p>0</p>  
            </mat-card-content>  
          
           
          </mat-card>
    </div>
</div>