.wrapper{
    width:100%;
    height: 100%;   
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    padding-top:200px ;
   
   
    .card-container{   
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
        grid-template-rows: repeat(5,1fr);
        grid-gap:5px;

        mat-card{
           
            p{
                font-weight: 200;
            }
        }
    }
    h1{
        padding-left:20px ; 
         
        margin: 0;
    }
}